page-home {

}
.signup-background {
    background-image: url('https://images.trvl-media.com/media/content/expus/graphics/launch/activity1320x742.jpg');
        background-size: cover;
    background-repeat: no-repeat;
     height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
}
